package cards

import "soarca-gui/utils"

const cardBaseCSS = "p-2 rounded-lg bg-white border-gray-100 shadow-lg dark:bg-gray-800"

templ Card(opts ...func(*templ.Attributes)) {
	<div { utils.CreateClassAttrs(cardBaseCSS, opts...)... }>
		{ children... }
	</div>
}

func WithShadow() func(*templ.Attributes) {
	return utils.Class("shadow-blue-500/50")
}
func WithHeight24() func(*templ.Attributes) {
	return utils.Class("h-24")
}
