@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Inter';
    font-style: italic;
    src: url(/public/fonts/Inter-italic.ttf);
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    src: url(/public/fonts/Inter-regular.ttf);
}
